In [1]:
import pandas as pd

airquality_df = pd.read_csv("airquality.csv")

In [2]:
airquality_df.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [3]:
num_rows = len(airquality_df)
num_columns = len(airquality_df.columns)

print (f'There are {num_rows} rows')
print (f'There are {num_columns} columns')

There are 153 rows
There are 7 columns

In [4]:
print(f'Amount of rows without NA values: {len(airquality_df.dropna())}')

Amount of rows without NA values: 111

In [5]:
print(f'Amount of rows that have Ozone and Solar.R values simultaniously missing: {len(airquality_df[(airquality_df['Ozone'].isna()) & (airquality_df['Solar.R'].isna())])}')

Amount of rows that have Ozone and Solar.R values simultaniously missing: 2

In [6]:
def print_values(column_name):
    min = airquality_df[column_name].min()
    max = airquality_df[column_name].max()
    mean = airquality_df[column_name].mean()
    print(f'{column_name} {{ min value: {min}, max value: {max}, mean value: {mean}}}') 

print_values('Ozone')
print_values('Solar.R')
print_values('Wind')
print_values('Temp')

Ozone { min value: 1.0, max value: 168.0, mean value: 42.12931034482759}
Solar.R { min value: 7.0, max value: 334.0, mean value: 185.93150684931507}
Wind { min value: 1.7, max value: 20.7, mean value: 9.957516339869281}
Temp { min value: 56, max value: 97, mean value: 77.88235294117646}

In [7]:
months_df = airquality_df[airquality_df['Month'] == 5]
mean_value = months_df['Solar.R'].mean()
print(f'Mean value from Solar.R by month 5: {mean_value}')

Mean value from Solar.R by month 5: 181.2962962962963

In [8]:
from meanAir import meanAir

column_name = 'Ozone'
print(f'Mean value from {column_name} depending on temperature range: {meanAir(airquality_df, column_name)}')

Mean value from Ozone depending on temperature range: 23.4

In [9]:
def calculate_mean(group):
    return group['Solar.R'].mean()

#first method
result = airquality_df.groupby('Month').apply(calculate_mean)
print(result)

#second method
result = airquality_df.groupby('Month')['Solar.R'].mean()
result

Month
5    181.296296
6    190.166667
7    216.483871
8    171.857143
9    167.433333
dtype: float64

C:\Users\vlado\AppData\Local\Temp\ipykernel_15792\868197681.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = airquality_df.groupby('Month').apply(calculate_mean)

Month
5    181.296296
6    190.166667
7    216.483871
8    171.857143
9    167.433333
Name: Solar.R, dtype: float64

In [10]:
def maxTemp(days = 1):
    return airquality_df.nlargest(days, 'Temp')[['Month', 'Day']]
   
maxTemp(5)

     Month  Day
119      8   28
121      8   30
120      8   29
122      8   31
41       6   11

In [11]:
import numpy as np

def testSet(perc = 20):
    if (perc < 0 or perc > 100):
        raise Exception("perc value out of range")
    
    return airquality_df.sample(frac=(perc / 100), random_state=np.random.RandomState(seed=228))
    
new_df = testSet(80) 
print(f'full data set length: {len(airquality_df)}, df length after crop: {len(new_df)}')
new_df

full data set length: 153, df length after crop: 122

     Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
93           94    9.0     24.0  13.8    81      8    2
4             5    NaN      NaN  14.3    56      5    5
85           86  108.0    223.0   8.0    85      7   25
106         107    NaN     64.0  11.5    79      8   15
66           67   40.0    314.0  10.9    83      7    6
..          ...    ...      ...   ...   ...    ...  ...
150         151   14.0    191.0  14.3    75      9   28
77           78   35.0    274.0  10.3    82      7   17
2             3   12.0    149.0  12.6    74      5    3
10           11    7.0      NaN   6.9    74      5   11
90           91   64.0    253.0   7.4    83      7   30

[122 rows x 7 columns]